option_settings:
  aws:elasticbeanstalk:application:
    Application Healthcheck URL: /appointments/get
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: /appointments/get
    HealthCheckInterval: 30
    HealthCheckTimeout: 5
    UnhealthyThresholdCount: 3
    HealthyThresholdCount: 3
