files:
  "/opt/elasticbeanstalk/tasks/bundlelogs.d/applogs.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      /var/log/web.stdout.log
      /var/log/web-1.log
      /var/log/web-1.error.log

option_settings:
  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: true
    DeleteOnTerminate: false
    RetentionInDays: 7
